---

---

<div class=" relative items-stretch bg-white mb-20 overflow-hidden ">
    <div class="grid grid-cols-2 md:grid-cols-4 gap-4 md:gap-8">


        <div class=" md:hidden flex flex-col gap-4">
            <img class="h-[220px] w-[300px]" src="/project-image.png" alt="">
            <img class="h-[220px] w-[300px]" src="/bg1.png" alt="">
            <img class="h-[220px] w-[300px]" src="/bg1.png" alt="">
        </div>
        <div class=" md:hidden flex flex-col gap-4">
            <img class="h-[200px] w-[300px] bg-cover bg-center" src="/bg1.png" alt="">
            <img class="h-[200px] w-[300px] bg-cover bg-center" src="/project-image.png" alt="">
            <img class="h-[200px] w-[300px] bg-cover bg-center" src="/bg1.png" alt="">
        </div>



        <div class="hidden md:flex flex-col gap-4 md:gap-8 ">
            <div class="w-[300px]">
                <img src="/bg3.png" alt="">
            </div>
            <div>
                <img  src="/project-image.png" alt="">
            </div>
        </div>
        <div>
            <img class="hidden md:block" src="/bg2.png" alt="">
        </div>
        <div class="hidden md:flex flex-col gap-8">
            <div class="w-[300px]">
                <img src="/bg5.png" alt="">
            </div>
            <div class="flex gap-8" >
                <div class="w-1/2">
                    <img src="/bg1.png" alt="">
                </div>
                <div class="w-1/2">
                    <img src="/bg1.png" alt="">
                </div>						
            </div>
        </div>
        
        <div class=" hidden md:flex flex-col gap-8">
            <div class="w-[300px]">
                <img src="/project-image.png" alt="">
            </div>
            <div>
                <img src="/project-image.png" alt="">
            </div>
        </div>
    </div>
    <div class="absolute bottom-0 left-0 w-full h-[400px] bg-gradient-to-t from-white to-transparent"></div>
</div>